Name: Screenshot Dam
Package: net.evancoleman.screenshotdam
Priority: optional
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 1.0-1
Architecture: iphoneos-arm
Description: Keeps screenshots out of Photo Stream
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=screenshotdamDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=screenshotdamDp
Sponsor: thebigboss.org <http://thebigboss.org>
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Evan Coleman <support@evancoleman.net>
Section: Tweaks
Tag: purpose::extension
Installed-Size: 9
dev: edc1591
